<% provide(:title, 'Home') %>
<div class="mode clear">
 
 
<%= image_tag(@image, :alt => "", class: "shadow ")%>
<div id="introduction"><p>Марина Цветаева - </br></p><p>...Чтобы в мире было двое:</br>Я и мир!</br></p></div>
<div id='head'><h1>Galina Ridna</h1>
 <p class="small">electronic collection of paintings</p>
</div>


</div><!--mode-->	
<div id="content_page">

<div class="container clear">
<li><a href="#"><!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52c3f015720105a5"></script>
<!-- AddThis Button END --></a></li>	
<% if @page %>
<% @page.sections.each do |section| %>
<% case section.content_type
       when 'HTML' %>
       <div class="description">
          <%= simple_format(section.content) %>
         </div>
    <% when 'text' %>
 <%= section.content %>
  <% end %>
 <% end %>
 <% end %>
 

<div class="line"><%= image_tag("pict1.png", alt: "Imaginasion") %></div>


</div>


</div><!-- content -->

