<h1>StaticPages#info</h1>
<p>J'ai un peu trop navigué</br>
Et je me sens fatigué.</br>
Fais-moi un bon café,</br>
J'ai une histoire à te raconter.</br>
Il était une fois quelqu'un,</br>
Quelqu'un que tu connais bien,</br>
Il est parti très loin,</br>
Il s'est perdu, il est revenu.</p>
