<% feed_subjects ||=[] %>
<% if feed_subject.visible %>


  <ul><span class="name"><h4><%= feed_subject.name %></h4></span></ul>
 
 
  <%  feed_subject.pages.order(position: :asc).each do |page| %>
  <% if page.visible? %>

  <li><%= link_to_unless_current(page.name, :action => 'show', :id => page.permalink) %></li>
 <% end %>
  <% end %>
 		<% end %>