$grayMediumLight: #eaeaea;

$marine: #020027;
$blue: #02093D;
$brightblue: #03D7B1;
$white: #F0EFD6;
$black: #0C0C0C;

$pink: #FE4365; 
$rose: #FC9D9A;
$lightrose: #F9CDAD;
$gr: #C8C8A9;
$bl: #83AF9B;

$font-stack:    Helvetica, sans-serif;

a { text-decoration: none; padding: 1px 3px;outline: none;
         &:hover { text-decoration: none; background: none; color: $brightblue;}
         &:focus{text-decoration: none;outline: none;} 
}
/*.row div{border: 1px solid yellow;}*/
.clear { clear: both; }
.center { text-align: center; }
.navbar{
.name {
h4{color: $gr;}
  }
}

.shadow{
-moz-box-shadow: 5px 5px 5px -3px #333;
   -webkit-box-shadow: 5px 5px 5px -3px #333;
   box-shadow: 3px 3px 3px -2px #333;}
         
body {
  padding-top: 70px;
 background: asset-url('gr.png') 0px 30px;
  height: 100%; margin: 0 auto 0; 
  color: $marine;
}

/* header */
#flour{
float: left;position: absolute;
top: 25px;
left: 215px;
}

#name {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $brightblue;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
 
  &:hover {
    color: $white;
    text-decoration: none;
    background: none;
  }
}
.mode{


img {
float: left;
height: 200px;
padding: 20px;
border: 1px solid $marine;
	}
}
#introduction{padding-top: 100px;
padding-left: 10px;
float:right;
margin:0;
}
#head{
float: left;
min-width: 350px;
 font-size: 1.7em;
 text-transform: uppercase;
  letter-spacing: -1px;
  
  font-weight: bold;
  line-height: 1;
 

 padding-right: 70px;

 background: asset-url('pict2.png')center right no-repeat;
  &:hover {
    color: $white;
    text-decoration: none;   
    }
    h1{ color: $brightblue;
    padding-left: 20px;
    
     }
 .small{font-size: 0.6em;
 text-transform: lovercase;
  letter-spacing: -1px;
   font-weight: normal;
  
  line-height: 1;color:$blue;padding-left: 20px;padding-right: 10px;margine-top: -10px;padding-bottom: 30px;} 
}

        /* Navigation */
#navigation{  
float: left; 
 ul {  font-size:.9em;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
	letter-spacing: .2em; list-style: none; margin: 0; padding: 0; 
         li { margin-bottom: 0.5em; }
         ul { margin: 0.5em 0 0 1em; font-size: 0.9em; }
                  }
          a { text-decoration: none; padding: 1px 3px;
         &:hover { background: none; }
          		}
			}



.line{
 text-align:  center;margin:20px;margin-top: 100px;font-size:.8em;text-transform: uppercase;
  letter-spacing: -1px;
  
line-height: 1;  
img{margin:5spx;}  
  
}
.original{

 text-align:  center;
    font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	font-size:1.2em;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
	letter-spacing: .4em;
    padding: 20px; 
    background: $grayMediumLight;
    border-radius: 10px 10px / 10px 10px ;
    }

/* main output */
#main { min-height: 500px; margin-top: 10px; }
#content_page { width: 100%; padding: 20px;}
#content { float: left;}
        
/* picture output */
p, td, ul, ol, li, dl, dt, dd { list-style-type: none;
   }


.description {width: 100%; padding: 10px;}
.box{width:120px; height: 150px; float: left; padding:10px;
 li {  margin:auto;
  img {padding: 5px; max-height: 130px; max-width: 100px; border: 1px solid $blue;}
 	}	
}

#picture_show {
min-height: 500px;width:100%;
 padding-bottom: 50px;
.btn {margin-bottom: 20px;background: none;}
ul{padding:0; margin: 0;}
a { text-decoration: none;
img {padding: 2%; border: 1px solid $blue;}
 }
}
		
#footer { clear: both; text-align: center;
background: asset-url('pict1.png')bottom no-repeat; padding-bottom: 50px;
 p { margin: 0; padding: 0.5em 1em; }
	}	
	
			/* mixins, variables, etc. */