<footer class="footer">
  <nav>
  
     <ul>
     <li><%= link_to image_tag("pict3.png", alt: "Imaginasion"), '#' %>
     <p class="center clear">&copy; 2013-2014 Chanson</p></li>  
    </ul>
  </nav>

</footer>