<footer class="footer">
 <nav>
    <a><%= image_tag("pict4.png", alt: "Imaginasion") %>Et la vie continue</a>
    aujourd'hui
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><p><%= link_to image_tag("pict3.png", alt: "Imaginasion"), '#' %></p>
     <p class="center"><a href='#'>&copy; 2013 - Chanson</a></p></li>  
    </ul>
  </nav>
</footer>