<footer class="footer_pages">
  <nav>
   <div class="container">
     <ul class="nav navbar-nav navbar-right">
    
    <li><%= link_to image_tag("pict3.png", alt: "Imaginasion", width: '120'), '#' %>
     <p class="center">&copy; 2013 - Chanson</p></li>
  
      
    </ul>
  </nav>
  </div>
</footer>