<footer class="footer">
  <nav>
  
     <ul>
     <li><p><%= link_to image_tag("pict3.png", alt: "Imaginasion"), '#' %></p>
     <p class="center">&copy; 2013 - Chanson</p></li>  
    </ul>
  </nav>

</footer>